<html>
  <head>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h4><%= title %></h4>
    <form action="" class="signup-form">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <label for="confirm_password">Confirm password:</label>
        <input type="password" id="confirm_password" name="confirm_password" />
      </div>
      <div>
        <a href="/login">Log in</a>
      </div>
    </form>
  </body>
</html>
