
html {
  background-color: #101010;
}

.signup-form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  border: 2px solid red;
  padding: 10px 0;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  gap: 8px;
}